/*
# !*/
!.gitignore
!README.md

# weird workaround for i3 dir
!i3

# cmus
!kitty/
!kitty/kitty.conf

!micro
micro/backups
micro/buffers

# !nautilus/
!neofetch/
!picom/
!polybar/config.ini
!polybar/launch.sh
!rofi/
!rofi-themes-collection/
!VSCodium/Preferences